<%- include('../partials/header') %>
<div id="templateWorkout">

<label><strong>Choose a Muscle Group: </strong></label>
<select name="muscleGroup">
    <option value="Chest">Chest</option>
    <option value="Quadriceps">Quadriceps</option>
    <option value="Glutes_Hamstrings">Glutes_Hamstrings</option>
    <option value="Calves">Calves</option>
    <option value="Back">Back</option>
    <option value="Shoulders">Shoulders</option>
    <option value="Triceps">Triceps</option>
    <option value="Biceps">Biceps</option>
    <option value="Abs">Abs</option>
</select>

<label><strong>Select Exercise</strong></label>
<select name="exercises">
    <option value=""></option>
</select>

</div>


<%- include('../partials/footer') %>