<%- include('../partials/header') %>

<form id="add-exercise" action="/template" method="POST"></form>
    <div id="templateWorkout">

        <label><strong>1: Choose a Muscle Group:</strong></label>
        <select name="muscleGroups" id="muscleGroups">
            <option value="Chest">Chest</option>
            <option value="Quadriceps">Quadriceps</option>
            <option value="Glutes_Hamstrings">Glutes_Hamstrings</option>
            <option value="Calves">Calves</option>
            <option value="Back">Back</option>
            <option value="Shoulders">Shoulders</option>
            <option value="Triceps">Triceps</option>
            <option value="Biceps">Biceps</option>
            <option value="Abs">Abs</option>
        </select>
        <label><strong>Exercises:</strong></label>
        <input type="text" name="exercise">



        <label><strong>2: Choose a Muscle Group:</strong></label>
        <select name="muscleGroups" id="muscleGroups">
            <option value="Chest">Chest</option>
            <option value="Quadriceps">Quadriceps</option>
            <option value="Glutes_Hamstrings">Glutes_Hamstrings</option>
            <option value="Calves">Calves</option>
            <option value="Back">Back</option>
            <option value="Shoulders">Shoulders</option>
            <option value="Triceps">Triceps</option>
            <option value="Biceps">Biceps</option>
            <option value="Abs">Abs</option>
        </select>
        <label><strong>Exercises:</strong></label>
        <input type="text" name="exercise">






        <label><strong>3: Choose a Muscle Group:</strong></label>
        <select name="muscleGroups" id="muscleGroups">
            <option value="Chest">Chest</option>
            <option value="Quadriceps">Quadriceps</option>
            <option value="Glutes_Hamstrings">Glutes_Hamstrings</option>
            <option value="Calves">Calves</option>
            <option value="Back">Back</option>
            <option value="Shoulders">Shoulders</option>
            <option value="Triceps">Triceps</option>
            <option value="Biceps">Biceps</option>
            <option value="Abs">Abs</option>
        </select>
        <label><strong>Exercises:</strong></label>
        <input type="text" name="exercise">



        <label><strong>4: Choose a Muscle Group:</strong></label>
        <select name="muscleGroups" id="muscleGroups">
            <option value="Chest">Chest</option>
            <option value="Quadriceps">Quadriceps</option>
            <option value="Glutes_Hamstrings">Glutes_Hamstrings</option>
            <option value="Calves">Calves</option>
            <option value="Back">Back</option>
            <option value="Shoulders">Shoulders</option>
            <option value="Triceps">Triceps</option>
            <option value="Biceps">Biceps</option>
            <option value="Abs">Abs</option>
        </select>
        <label><strong>Exercises:</strong></label>
        <input type="text" name="exercise">



        <label><strong>5: Choose a Muscle Group:</strong></label>
        <select name="muscleGroups" id="muscleGroups">
            <option value="Chest">Chest</option>
            <option value="Quadriceps">Quadriceps</option>
            <option value="Glutes_Hamstrings">Glutes_Hamstrings</option>
            <option value="Calves">Calves</option>
            <option value="Back">Back</option>
            <option value="Shoulders">Shoulders</option>
            <option value="Triceps">Triceps</option>
            <option value="Biceps">Biceps</option>
            <option value="Abs">Abs</option>
        </select>
        <label><strong>Exercises:</strong></label>
        <input type="text" name="exercise">


        <label><strong>6: Choose a Muscle Group:</strong></label>
        <select name="muscleGroups" id="muscleGroups">
            <option value="Chest">Chest</option>
            <option value="Quadriceps">Quadriceps</option>
            <option value="Glutes_Hamstrings">Glutes_Hamstrings</option>
            <option value="Calves">Calves</option>
            <option value="Back">Back</option>
            <option value="Shoulders">Shoulders</option>
            <option value="Triceps">Triceps</option>
            <option value="Biceps">Biceps</option>
            <option value="Abs">Abs</option>
        </select>
        <label><strong>Exercises:</strong></label>
        <input type="text" name="exercise">


        <label><strong>7: Choose a Muscle Group:</strong></label>
        <select name="muscleGroups" id="muscleGroups">
            <option value="Chest">Chest</option>
            <option value="Quadriceps">Quadriceps</option>
            <option value="Glutes_Hamstrings">Glutes_Hamstrings</option>
            <option value="Calves">Calves</option>
            <option value="Back">Back</option>
            <option value="Shoulders">Shoulders</option>
            <option value="Triceps">Triceps</option>
            <option value="Biceps">Biceps</option>
            <option value="Abs">Abs</option>
        </select>
        <label><strong>Exercises:</strong></label>
        <input type="text" name="exercise">


        <label><strong>8: Choose a Muscle Group:</strong></label>
        <select name="muscleGroups" id="muscleGroups">
            <option value="Chest">Chest</option>
            <option value="Quadriceps">Quadriceps</option>
            <option value="Glutes_Hamstrings">Glutes_Hamstrings</option>
            <option value="Calves">Calves</option>
            <option value="Back">Back</option>
            <option value="Shoulders">Shoulders</option>
            <option value="Triceps">Triceps</option>
            <option value="Biceps">Biceps</option>
            <option value="Abs">Abs</option>
        </select>
        <label><strong>Exercises:</strong></label>
        <input type="text" name="exercise">
        
        
    </div>
    <input id="enter" type="submit" value="Select">
</form><br>


    <%- include('../partials/footer') %>