<%- include('../partials/header') %>

    <div id="muscleList">
        <div>Exercise</div>
        <div>Sets</div>
        <div>Reps</div>
        <div>Weight</div>
    </div>
    
    <form id="" action="/workouts" method="POST">
        <% for (let i=0; i < 6; i++) { %>
            <div id="workoutPlan">
                <div>
                    <input type="text" name="exercise">
                </div>
                <div>
                    <label><strong>Sets: </strong> </label>
                    <select name="sets">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>
                </div>
                <div>
                    <label><strong>Reps: </strong> </label>
                    <select name="reps">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                    </select>
                </div>
                <div>
                    <input type="text" name="weight" placeholder="lbs">
                </div>
            </div>
            <% } %>
            <button name="submit">Submit</button>
    </form>
<%- include('../partials/footer') %>