body{
  display: flex;
  flex-direction: column;
  position: center;
  margin: 0 auto;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
}

main {
  display: grid;
  align-content: center;
  justify-content: center;
  margin: 20px;
}

nav {
  flex-direction: row;
  justify-content: center;
  align-content: center;
  text-align: center;
  padding-top: 50px;
}

a {
  color: #0051ff;
}

tr {
  height: 3vmin;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

#submit {
  display: flex;
  position: relative;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding-top: 5vmin;
}

button {

  position: center;
  align-content: center;
  justify-content: center;
  align-items: center;
  height: 2vmin;
  width: 8vmin;
  font-size: 1.5vmin;
  border: .15vmin solid black;
}

#workoutPlan {
  display: grid;
  grid-template-columns: 150px repeat(4, 10fr);
  padding-top: 1vmin;
  position: center;
  align-items: center;
  justify-content: center;
}

#exerciseData{
  padding: 1vmin;
}

#templateWorkout {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(8, 1fr);
  padding-top: 1vmin;
}

/* #history {
  display: flex;
  flex-wrap: wrap;
  position: center;
  width: 100vh;
  justify-content: start;
} */

#history>div {
width: 15vmin;
justify-content: space-around;
}

#header{
  background: rgb(255, 255, 255);
  margin: 0 auto;
  display: flex;
  position: center;
  justify-content: center;
  width: 100%;
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
  flex-direction: row;
  color: rgb(0, 0, 0);
}

/* <!-- <div id="workoutHead">
<tr>
  <th>Exercise 1</th>&nbsp;|&nbsp;
  <th>Exercise 2</th>&nbsp;|&nbsp;
  <th>Exercise 3</th>&nbsp;|&nbsp;
  <th>Exercise 4</th>&nbsp;|&nbsp;
  <th>Exercise 5</th>&nbsp;|&nbsp;
  <th>Exercise 6</th>&nbsp;|&nbsp;
</tr>
</div> -->

<!-- <div id="workoutSide">
  <tr>
    <div>Name of Workout</div>
    <div>Exercise</div>
    <div>Sets</dvi>
    <div>Reps</div>
    <div>Weight</div>
  </tr>
</div> --> */