body,
nav {
  display: flex;
  flex-direction: column;
  position: center;
  margin: 0 auto;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
}

main {
  display: grid;
  align-content: center;
  justify-content: center;
  margin: 20px;
}

nav {
  flex-direction: row;
  justify-content: center;
  align-content: center;
  text-align: center;
  padding-top: 50px;
}

a {
  color: #0051ff;
}

tr {
  height: 3vmin;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

#submit {
  display: flex;
  position: relative;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding-top: 5vmin;
}

button {
  display: flex;
  position: relative;
  align-content: center;
  justify-content: center;
  align-items: center;
  height: 3vmin;
  width: 8vmin;
  font-size: 2vmin;
  border: .15vmin solid black;
}

#workoutPlan {
  display: grid;
  grid-template-columns: 150px repeat(4, 10fr);
  padding-top: 1vmin;
  position: center;
  align-items: center;
  justify-content: center;
}

#muscleList {
  display: grid;
  grid-template-columns: 200px repeat(4, 10fr);
  padding-bottom: 1vmin;
  border-bottom: .25vmin solid black;
  background: grey;
  color: white;
}

#templateWorkout {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(8, 1fr);
  padding-top: 1vmin;
}

/* #workoutHead {
  display: flex;
  position: relative;
} */

#history {
  width: 90vmin;
  height: 75vmin;
  padding: 5vmin;
}