<%- include('../partials/header') %>

    <% exercise.forEach(function(e) { %>
        <div id="exercisesList">
            <div>Exercise Muscle Group: <%= e.muscleGroup %>
            </div>
            <br>
            <div>Muscle Group Exercises: </div>
            <div>
                <%= e.exercise %>
            </div>
        </div>
        <hr>
        <% }) %>
        
<!--
Below DROP DOWN MENU is for when I set up the filter in controllers to determine which muscleGroup is being choosen and the exercise that goes with it will populate the other dropdown menu || This new system will be put in place of the old one where
you currently have to manually type in the exercises instead of having a pre made one which you can then also add to by eventually updating the current muscleGroup.
-->
            <!-- <div class="dropdown">
                <div class="dropdown-content">
                    <select id="muscleGroup">
                        <option value="">Select a muscle group</option>
                        <option value="Quadriceps">Quadriceps</option>
                        <option value="Glutes Hamstrings">Glutes Hamstrings</option>
                        <option value="Calves">Calves</option>
                        <option value="Chest">Chest</option>
                        <option value="Back">Back</option>
                        <option value="Shoulders">Shoulders</option>
                        <option value="Triceps">Triceps</option>
                        <option value="Biceps">Biceps</option>
                        <option value="Abs">Abs</option>
                    </select><br>
                    <button class="dropbtn">Filter Muscle Group</button>
                </div>
            </div>

            <div class="dropdown">
                <div class="dropdown-content">
                    <select id="exercises">
                        <option value="">Select a muscle group first</option>
                    </select><br>
                    <button class="dropbtn">Exercises</button>
                </div>
            </div> -->

                <%- include('../partials/footer') %>